* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@media (min-width:600px) {
    .column {
        width: 50%;
    }
}
html, body {
    overflow: auto;
    background: linear-gradient(to right, #259650, #a2e1b7);
    flex-direction: column;
    min-height: 100vh;
}
/* starting at the top of the page, with navigation bar */
.topnav {
    margin: auto;
    text-align: right;
    background: linear-gradient(to right, #259650, #a2e1b7);
    width:100%;
    height: 60px;
    display: flex;
    display: inline-block;
    padding: 20px; 
    font-family: "Press Start 2P";
    font-size: 12px;
    text-transform: uppercase;

}
.topnav a {
    padding: 20px 20px 20px 20px;  
    text-decoration: none;
    color: rgb(255, 255, 255);
}
/* When mouse is hovered over it changes the background to a gradient */
.topnav a:hover {
    background: linear-gradient(to right, #259650, #a2e1b7);
    color: #fff;
}
/* home page name container */
.banner-name-container{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    
}
/* css for actual name with animation */
h1 a{
    margin:0;
    text-align: center;
    top: 50%;
    left: 50%;
    font-family: "Major Mono Display";
    color:#a2e1b7;
    animation-name: change-color;
    animation-duration: 8s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    
}

/* get rid of hyperlink underline */
a {
    text-decoration: none;
}
/* animation */
@keyframes change-color {
    25% {
          color: #12814b;
   }
   50% {
     color: #086c3f;
   }
   75% {
     color: #259650;
   }
   100% {
     color: #a2e1b7;
   }
}

/* about me page starting with top text */
.about-me {
    text-align: center;
    font-family: 'Major Mono Display';
    color:rgb(0, 37, 17);
}
/* picture of me with rounded border */
.picture img{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 30vh;
    width: 30vh;
    object-fit: cover;
    border-radius: 50%;
    padding:2%;
    
}
/* added a border to description and shadow */
.description {
    display: flex;
    margin: 2vh;
    border:1px;
    border-radius:5px;
    border-style: solid;
    border-color: white;
    padding: 5vh;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: rgb(0, 37, 17);
    box-shadow: 0 4px 2px #086c3f;

}
/* resume modal button */
.button-container {
    display: flex;
    justify-content:  center;
    position: relative;
    min-height: 0;
    margin: 0;
}
button {
    background: linear-gradient(to right, #259650, #a2e1b7);
    font-family: "Major Mono Display";
    color: rgb(0, 37, 17);
    font-size: 22px;
    font-weight: bolder;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 4px 2px #086c3f;
}
/* inside modal text and close button */
.modal {
    background-color: rgba(0,0,0,0.4);
	position: fixed;
    top: 0;
    left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
    display:none;
}
.modal-textbox {
    display: flex;   
    background-color: #a2e1b7;
    width: 400px;
    max-width: 100%;
    height: fit-content;
    border-radius: 5px;
    margin: 10px auto;
    padding:20px 35px;
    box-shadow: 0 4px 2px #086c3f;
}

h2 {
    font-family: 'Major Mono Display';
    font-size: 20px;
}

.footer {
    
    font-size:12px;
    color:#fff;
    text-transform: uppercase;
    height: 120px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0; bottom: 0; left: 0;
    margin-top: 20px;
    
}
h4.more {
    font-family: "Press Start 2P";
    margin-bottom: 2vh;
    display:flex;
    justify-content: center;
}
.footer-logos-container {
    display:flex;
    text-align: center;
    justify-content: center;
}
.footer-logos-container a {
    font-family: "Major Mono Display";
    text-transform: lowercase;
    padding-left: 10%; padding-right: 10%;
    display: inline-block;
    text-decoration: none;
    color:#fff

}

