* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  @media (min-width: 600px) {
    .column {
      width: 50%;
    }
  }
  html,
  body {
    display: flex;
    overflow: auto;
    background: linear-gradient(to right, #259650, #a2e1b7);
    flex-direction: column;
    min-height: 100vh;
  }
  .main {
    flex-grow: 1;
  }
  /* starting at the top of the page, with navigation bar */
  .topnav {
    margin: auto;
    background: linear-gradient(to right, #259650, #a2e1b7);
    width: 100%;
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: stretch;
    padding: 5px;
  }
  .topnav a {
    display: flex;
    padding: 2% 2% 2% 2%;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Press Start 2P";
    font-size: 12px;
    text-transform: uppercase;
  }
  /* When mouse is hovered over it changes the background to a gradient */
  .topnav a:hover {
    background: linear-gradient(to right, #259650, #a2e1b7);
    color: #fff;
  }
  /* home page name container */
  .banner-name-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    vertical-align: middle;
  }
  /* css for actual name with animation */
  h1 a {
    margin: 0;
    text-align: center;
    top: 50%;
    left: 50%;
    font-family: "Major Mono Display";
    color: #a2e1b7;
    animation-name: change-color;
    animation-duration: 8s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
  }
  
  /* get rid of hyperlink underline */
  a {
    text-decoration: none;
  }
  /* animation */
  @keyframes change-color {
    25% {
      color: #12814b;
    }
    50% {
      color: #086c3f;
    }
    75% {
      color: #259650;
    }
    100% {
      color: #a2e1b7;
    }
  }
  
  /* about me page starting with top text */
  .about-me {
    text-align: center;
    font-family: "Major Mono Display";
    color: rgb(0, 37, 17);
  }
  /* picture of me with rounded border */
  .picture img {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 30vh;
    width: 30vh;
    object-fit: cover;
    border-radius: 50%;
    padding: 2%;
  }
  /* added a border to description and shadow */
  .description {
    display: flex;
    margin: 2vh;
    border: 1px;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
    padding: 5vh;
    font-family: "Rajdhani";
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    color: rgb(0, 37, 17);
    box-shadow: 0 4px 2px #086c3f;
  }
  
  /* resume modal button */
  .button-container {
    display: flex;
    justify-content: center;
    position: relative;
    min-height: 0;
    margin: 0;
    position: relative;
    padding: 0 0 30px 0;
  }
  #openResume {
    display: flex;
    background: linear-gradient(to right, #259650, #a2e1b7);
    font-family: "Major Mono Display";
    color: rgb(0, 37, 17);
    font-size: 22px;
    font-weight: bolder;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 4px 2px #086c3f;
    cursor: pointer;
    position: relative;
  }
  /* inside modal text and close button */
  .modal {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: auto;
    display: none;
    min-width: 600px;
  }
  .modal-textbox {
    display: flex;
    justify-content: center;
    background-color: #a2e1b7;
    height: 60vh;
    width: 100vw;
    max-width: 100%;
    border-radius: 5px;
    margin: 10px auto;
    padding: 20px 35px;
    box-shadow: 0 4px 2px #086c3f;
  }
  iframe {
    height:50vh;
    width:100vw;
  }
  /* Jordans resume */
  h2 {
    font-family: "Major Mono Display";
    font-size: 20px;
  }
  #modal-footer {
    text-align: right;
  }
  /* close resume button */
  #closeResume {
    padding: 14px 18px;
    background: linear-gradient(to right, #259650, #a2e1b7);
    /* border: none; */
    outline: none;
    border-radius: 3px;
    color: white;
    font-family: "Major Mono Display";
    cursor: pointer;
  }
  
  h1 {
    font-family: "Major Mono Display";
    text-align: center;
  }
  /* footers on all pages */
  .footer {
    background-color: #12814b;
    display: flex;
    position: sticky;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding: 10px;
  }
  h4.more {
    font-family: "Press Start 2P";
    font-size: 12px;
    color: #fff;
    margin-bottom: 2vh;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
  }
  .footer-logos-container {
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .footer-logos-container a {
    font-family: "Major Mono Display";
    font-size: 12px;
    text-transform: lowercase;
    padding-left: 10%;
    padding-right: 10%;
    display: inline-block;
    text-decoration: none;
    color: #fff;
  }
  
  /* contact me div */
  .contact-container {
    display: flex;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  form h1 {
    color: #fff;
    margin-bottom: 20px;
  }
  
  form {
    background: #a2e1b7;
    display: flex;
    flex-direction: column;
    padding: 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
  }
  
  form input,
  form textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #fff;
    font-size: 16px;
    font-family: "Rajdhani";
  }
  form button {
    padding: 15px;
    background: #259650;
    color: #fff;
    font-size: 16px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 20px;
    font-family: "Rajdhani";
  }
  /* projects page with button */
  .projects-container {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    padding: 20vh;
  }
  
  .project {
    flex-basis: auto;
    border: 2px;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
  }
  
  #projectText1 {
    display: flex;
    background: linear-gradient(to right, #259650, #a2e1b7);
    font-family: "Rajdhani";
    color: rgb(0, 37, 17);
    font-size: 22px;
    border-color: white;
    border-radius: 5px;
    padding: 4rem;
    cursor: pointer;
    position: relative;
    transform: rotate(360deg);
}
  #projectText1:hover{
    animation: rotate 2s linear;
  }
  @keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
  }